EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_MONTHLY_PRODUCT_ID=rhodie.30
EXPO_PUBLIC_YEARLY_PRODUCT_ID=rhodie.365
EXPO_PUBLIC_SUBSCRIPTION_TRIAL_DAYS=14
EXPO_PUBLIC_BYPASS_SUBSCRIPTIONS=
EXPO_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=
EXPO_PUBLIC_PRIVACY_POLICY_URL=
EXPO_PUBLIC_TERMS_OF_USE_URL=
