# dependencies
node_modules
.expo
.expo-shared
dist
web-build
*.log
.DS_Store

# Next.js
.next/
out/
next-env.d.ts

# TypeScript
*.tsbuildinfo

# Large source media
public/videos/rh.rhodie.mp4

# Env
.env*
!.env.example
